extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ipsa accusantium tenetur, nemo iure similique in iusto saepe fuga nihil praesentium? Maiores possimus magnam quam distinctio perferendis, officia vel amet.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam praesentium a temporibus? Dicta obcaecati nisi cumque, ex officiis illo, labore porro vero dolores aspernatur tenetur animi quidem minima ab. Sunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, consectetur. Numquam nostrum veritatis qui! Eos exercitationem earum dolores, quod nisi minus dolorem consequuntur provident ad eveniet commodi obcaecati at! Possimus.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos blanditiis suscipit, dolorum laudantium natus, error voluptate ullam rem unde facilis expedita quaerat ea consequuntur voluptatibus, nesciunt quidem id earum exercitationem!
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam unde magnam quaerat facere tempora temporibus officiis dignissimos, est inventore in corporis labore ut obcaecati
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam unde magnam quaerat facere tempora temporibus officiis dignissimos, est inventore in corporis labore ut obcaecati
                .col-md-4
                    img(src="img/icono_precio.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam unde magnam quaerat facere tempora temporibus officiis dignissimos, est inventore in corporis labore ut obcaecati